.search-home{
  text-align: center;
  .small-logo{
    position: fixed;
    top: -100px;
    left: 20px;
    z-index: 1000;
    transition: all .7s cubic-bezier(.55,0,.1,1);
    .brand-small{
      text-align: left;
      font-size: 50px;
      color: $white;
      padding: 12px;
      background-color: rgba($black,0.8);
      text-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
      font-weight: 100;
      #dot-small{
        text-shadow: none;
        font-weight: 300;
        color: $greenA700;
      }
    }
  }
  .bg-image{
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: $black;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: height .7s cubic-bezier(.55,0,.1,1);
    .image{
      opacity: 0;
      width: 100%;
      transition: all 1s linear, top 1s cubic-bezier(.55,0,.1,1) .1s;
      position: fixed;
      top: 0;
      left: 0;
      -webkit-filter: sepia(1);
      &.visible{
        -webkit-filter: sepia(0);
        opacity: 1;
        animation: scale 60s linear infinite 2s;
      }
      &.top{
        top: -200px;
        pointer-events: none;
      }
    }
    &.top{
      height: 85px !important;
      .black-drop{
        height: 85px;
      }
    }
    .black-drop{
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: +1;
      background-color: rgba(0,0,0,0.6);
      transition: all .7s cubic-bezier(.55,0,.1,1);
    }
  }
  .field{
    position: fixed;
    top: 50%;
    z-index: 20;
    margin-top: -300px;
    width: 930px;
    left: 50%;
    margin-left: -465px;
    transition: all .5s cubic-bezier(.55,0,.1,1);
    &.top{
      top: -127px;
      margin-top: 0;
      .small-logo{
        top: 0px;
      }
    }
    .brand{
      text-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
      font-size: 90px;
      font-weight: 100;
      color: #fff;
      margin-bottom: 40px;
      #dot{
        text-shadow: none;
        font-weight: 300;
        color: $greenA700;
      }
    }
    input[type='text']{
      padding: 13px;
      font-size: 14px;
      font-weight: 300;
      border-radius: 2px;
      background-color: rgba($white,.9);
      border: none;
      border-radius: 4px 0px 0px 4px;
      &:focus{
        outline: none;
      }
    }
    button{
      margin-top: 30px;
      cursor: pointer;
      margin: 0;
      padding: 7px 5px;
      vertical-align: bottom;
      border-radius: 0px 4px 4px 0px;
      background-color: rgba($greenA700,.9);
    }
  }
}
@keyframes scale{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}
.search-loader{
  position: fixed;
  z-index: 5;
  background: #FFF;
  border-radius: 220px;
  width: 70px;
  left: 50%;
  top: 120px;
  margin-left: -35px;
  opacity: 1;
  transition: all .5s cubic-bezier(.55,0,.1,1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  &.hide{
    top: 0px;
    opacity: 0;
  }
}
.loader {
  position: fixed;
  z-index: -1;
  bottom: 0;
  right: 0;
  margin: 0px auto;
  width: 100px;
  height: 100px;
  opacity: 1;
  z-index: 100;
  transition: all .5s linear;
  &.none{
    opacity: 0;
  }
}
.circular {
  zoom: .7;
  animation: rotate 2s linear infinite;
  height: 100px;
  position: relative;
  width: 100px;
}
.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  stroke: $greenA700;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}
@keyframes rotate{
 100%{
  transform: rotate(360deg);
}
}
@keyframes dash{
 0%{
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
}
50%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -35;
}
100%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -124;
}
}
