.results{
  margin-top: 110px;
  text-align: left;
  border-radius: 4px;
  .related{
    padding-left: 20px;
    margin-bottom: 20px;
    .r-tag{
      display: inline-block;
      padding: 10px 25px;
      margin-right: 20px;
      color: $greenA700;
      border-radius: 4px;
      &:hover{
        background-color: $grey200;
      }
    }
  }
  .count{
    text-align: center;
    padding: 20px;
    font-size: 18px;
    #query{
      font-weight: 600;
    }
  }
  .first,.second,.third{
    padding: 20px;
    box-sizing: border-box;
  }
  .result{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    .bg{
      width: 100%;
      margin-bottom: 40px;
      .text{
        font-family: 'Biryani', sans-serif !important;
        padding: 20px;
        font-size: 22px;
        color: $grey900;
        background-color: $white;
        .hashtag,.at-link{
          color: $greenA700 !important;
          text-decoration: none;
          &:hover,&:active,&:visited{
            text-decoration: none;
          }
        }
      }
      img{
        width: 100%;
      }
    }
  }
}
