.test-case-details{
  .back{
    font-size: 30px !important;
    position: relative;
    top: 5px;
    margin-right: 20px;
    cursor: pointer;
    margin-left: -10px;
  }
  #title{
    display: inline-block;
    vertical-align: middle;
  }
  .topic{
    color: $primary;
    margin-top: 30px;
    &:first-child{
      margin-top: 0;
    }
  }
  .title-holder,.description-holder,.jira-holder{
    position: relative;
    padding-bottom: 30px;
    border-bottom: 1px solid $grey200;
    textarea{
      width: 100% !important;
    }
    .title-input,.description-input,.jira-input{
      padding-left: 0px;
      &.show{
        padding-left: 10px;
      }
    }
    & *{
      opacity: 0;
      transition: all .1s linear !important;
      z-index: -1;
    }
    .title,.description,.jira{
      position: absolute;
      top: 0;
      padding: 10px;
    }
    .show{
      opacity: 1 !important;
      z-index: 0;
      &.title,&.description,&.jira{
        padding-left: 0px;
        cursor: pointer;
      }
    }
  }
  .tag-list{
    margin-top: 20px;
    margin-bottom: 100px;
    .tags{
      margin-right: 10px;
      padding: 5px 10px;
      border: 1px solid $grey300;
      border-radius: 4px;
      margin-top: 10px;
      display: inline-block;
      transition: all .1s linear;
      cursor: pointer;
      &:hover{
        border-color: $primary;
        color: $primary;
      }
      &.selected{
        color: $primary;
        border: 1px solid rgba($primary,.1);
        background-color: rgba($primary,.1);
        &:hover{
          color: $primary;
          border: 1px solid rgba($primary,.1);
        }
      }
    }
  }
  .update{
    float: right;
    background: $primary;
    margin: 0;
  }
}
